* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
    color: white;
}

.header {
    background-color: #b30000;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

.nav {
    background-color: #b4ce41;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

.main {
    display: flex;
    padding: 10px;
    gap: 10px;
}

.sidebar {
    background-color: #d94f4f;
    padding: 20px;
    width: 20%;
    text-align: center;
}

.content {
    background-color: #ffa31a;
    padding: 20px;
    width: 60%;
    text-align: center;
}

.footer {
    background-color: #b30000;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}